/* Includes Everything */
body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: rgb(238,238,238);
	margin: auto;
}

/* Header - Nav */
.top {
	background-color: white;
	margin-top: 0px;
	padding: 25px 0px;
}

.heading {
	font-family: 'Georgia', Times, Times New Roman, serif;
	background-color: rgb(11,173,167);
	color: white;
	display: inline;
	padding: 25px 10px;
}

nav {
	float: right;
}

li {
	list-style-type: none;
	display: inline;
	padding: 0px 5px 5px 5px;
	margin-right: 10px;
	font-size: 18px;
}

li a {
	text-decoration: none;
	color: grey;
}

a:visited {
	text-decoration: none;
}

.main-content {
	width: 960px;
	margin: auto;
}


/* About Me */
section {
	font-family: 'Georgia', Times, Times New Roman, serif;
	width: 550px;
	background-color: white;
	padding: 10px 20px 20px 20px;
	font-size: 18px;
	border: 1px solid grey;
	margin: 10px -500px 100px 0px;
	float: left;
	position: ;
}

section p {
	padding-left: 5px;
}

section h1 {
	color: rgb(11,173,167);
}

.rich-photo {
	float: left;
	margin: 0px 10px 10px 0px;
}

/* Contact */
input {
	width: 100%;
}
.message-box {
	height: 100px;
}

/* Portfolio */
.art {
	margin: 10px;
}

/* Sidebar */
.connect {
	font-family: 'Georgia', Times, Times New Roman, serif;
	float: right;
	width: 270px;
	text-align: center;
	background-color: white;
	color: rgb(11,173,167);
	margin: 10px 0px;
	overflow: auto;
	display: block;
}

/* Footer */
footer {
	position: relative;
  	right: 0;
  	bottom: 0;
  	left: 0;
	color: lightgrey;
	clear: both;
	display: block;
	text-align: center;
	background-color: #666666;
	padding: 20px 0px 10px 0px;
	border-top: 3px solid rgb(11,173,167);
	margin-bottom: 0px;
}